/* Inicio do Topo */

#navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  transition: all ease .5s;
}

#navbar::after {
  content: "";
  background-color: #222b68;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all ease .5s;
}

.sticky {
  background-color: white;
  transition: all ease .5s;
}

#navbar.sticky::after {
  content: "";
  background-color: #222b68;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all ease .5s;
}

#navbar>div {
}

#navbar>div>div {
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

#navbar>div>div .logo-menu {
  text-align: center;
}

#navbar>div>div .logo-menu a {
  transition: all ease 0.5s;
}

#navbar>div>div .logo-menu a:hover {
  opacity: 0.8;
  transition: all ease 0.5s;
}

#navbar>div>div .logo-menu a img {
  width: auto;
}

#navbar>div>div .barra-menu {
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: center;
}

#navbar>div>div .barra-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

#navbar>div>div .barra-menu ul li {
  font-size: 20px;
  margin: 0 15px;
  position: relative;
}

#navbar>div>div .barra-menu ul li::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 2px;
  background-color: #222b68;
  transition: all ease 0.5s;
}

#navbar>div>div .barra-menu ul li:hover::after {
  transition: all ease 0.5s;
  width: 100%;
}

#navbar>div>div .barra-menu ul li:last-child::after {
  background-color: transparent;
}

#navbar>div>div .barra-menu ul li a {
  color: #151515;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
}

#navbar>div>div .barra-menu ul li:last-child a {
  color: white;
  background-color: #222b68;
  border-radius: 25px;
  padding: 10px 25px;
  transition: all ease 0.5s;
}

#navbar>div>div .barra-menu ul li a:hover {
}

#navbar>div>div .barra-menu ul li:last-child a:hover {
  color: #222b68;
  background-color: white;
  border-radius: 25px;
  padding: 10px 25px;
  border: solid 1px black;
  transition: all ease 0.5s;
}

/* Fim do Topo */
