<header id="header">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <a href="index.html">
        <img
          src="assets/images/logo-footer.png"
          class="img-fluid">
      </a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#project">Projeto</a></li>
        <li><a href="#benefits">Benefícios</a></li>
        <li><a href="#team">Time</a></li>
        <li><a href="#contact">Contato</a></li>
        <li class="get-started">
          <a
            href="#about"
            (click)="openModalLogin()">
            Começar
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
<app-login-modal #loginModal></app-login-modal>
