<section id="slider">

  <div class="container">
  <div class="row d-flex align-items-center">

    <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
      <h1>Continue estudando com Scholar</h1>
      <p>
        Com o Scholar ficou mais fácil de fazer seus estudos no conforto da sua casa.
        Com uma interface simples e clara, continue seus estudos mesmo longe
        da escola. Tá esperando o quê? Venha para conhecer o Scholar.
      </p>
      <a href="#about" class="btn-get-started">Comece já</a>
    </div>

    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
      <img src="assets/images/slider-img.png" class="img-fluid" alt="">
    </div>

  </div>
  </div>

</section>
