/* Inicio do Slider */

#slider {
  padding-top: 90px;
}

#slider>div {}

#slider>div .slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#slider>div .slider-text h1 {
  text-align: center;
  margin-bottom: 20px;
}

#slider>div .slider-text p {}

#slider>div .box-img-slider {}

#slider>div .box-img-slider img {
  margin: 30px 0px;
}

/* Fim do Slider */

/* Inicio do Projeto */

#projeto {
  margin-top: 50px;
}

#projeto>div {}

#projeto>div>div {}

#projeto>div>div .box-logo {
  margin-bottom: 30px;
}

#projeto>div>div .box-logo img {
  width: 100%;
}

#projeto>div>div .box-projeto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#projeto>div>div .box-projeto h1 {
  text-align: center;
  margin-bottom: 20px;
}

#projeto>div>div .box-projeto p {
  text-indent: 50px;
}

/* Fim do Projeto */

/* Inicio dos Beneficios */

#beneficios {
  margin-top: 50px;
}

#beneficios>div {}

#beneficios>div>div {}

#beneficios>div>div .titulo-beneficios {}

#beneficios>div>div .titulo-beneficios h1 {
  text-align: center;
}

#beneficios>div>div .subtitulo-beneficios {
  margin-bottom: 20px;
}

#beneficios>div>div .subtitulo-beneficios h2 {
  text-align: center;
}

#beneficios>div>div ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

#beneficios>div>div ul li {}

#beneficios>div>div ul li {}

#beneficios>div>div ul li {
  text-align: center;
  margin: 10px 0px;
}

#beneficios>div>div ul li .box-beneficios {}

#beneficios>div>div ul li .box-beneficios img {}

#beneficios>div>div ul li .box-beneficios p {
  margin-top: 10px;
}

/* Fim dos Beneficios */

/* Inicio da Equipe */

#equipe {
  margin-top: 20px;
  background-color: #222B68;
}

#equipe>div {}

#equipe>div>div {}

#equipe>div>div .equipe-title {}

#equipe>div>div .equipe-title h1 {
  text-align: center;
  margin: 30px 0px;
  color: white;
}

#equipe>div>div .equipe-cards {
  margin: 0px 50px 50px 50px;
  width: 100%;
}

#equipe>div>div .equipe-cards ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

#equipe>div>div .equipe-cards ul li {}

#equipe>div>div .equipe-cards ul li .card-box {}

#equipe>div>div .equipe-cards ul li .card-box img {
  margin-top: 30px;
  border-radius: 0px 30px 30px 0px;
}

#equipe>div>div .equipe-cards ul li .card-box h3 {
  color: white;
  margin-top: 15px;
  font-size: 1.2em;
}

/* Fim da Equipe */

/* Inicio de Tecnologias */

#tecnologias {
  margin-bottom: 30px;
}

#tecnologias>div {}

#tecnologias>div>div {}

#tecnologias>div>div .tecnologias-title {
  text-align: center;
  margin: 30px 0px;
}

#tecnologias>div>div .tecnologias-title h1 {}

#tecnologias>div>div .tecnologias-box {
  text-align: center;
}

#tecnologias>div>div .tecnologias-box .main-subtitle {}

#tecnologias>div>div .tecnologias-box .main-subtitle h4 {}

#tecnologias>div>div .tecnologias-box .main-subtitle ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#tecnologias>div>div .tecnologias-box .main-subtitle ul li {}

#tecnologias>div>div .tecnologias-box .main-subtitle ul li .tecnologia-cards {}

#tecnologias>div>div .tecnologias-box .main-subtitle ul li .tecnologia-cards img {
  padding: 10px;
}

/* Fim de Tecnologias */
