<section id="project" class="project section-bg">
<div class="container">

    <div class="row d-flex align-items-center">
      <div class="image col-xl-5 d-flex align-items-stretch justify-content-center align-content-center">
        <img src="assets/images/logo-projeto.png" class="img-fluid image">
      </div>
      <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
        <div class="content d-flex flex-column justify-content-center">
          <h2 data-aos="fade-in" data-aos-delay="100">Projeto Scholar</h2>
          <p data-aos="fade-in" class="text-justify">
            Projeto Scholar, criado durante o período do curso FullStack Java Web, um curso
            da Digital House, oferecido gratuitamente por meio do Becas, da Santander. O projeto
            consiste em uma plataforma voltada para o ensino remoto, trazendo uma interface mais
            amigável para os estudantes e professores, facilitando assim o processo de aprendizado.
          </p>
          <div class="row">
            <div class="col-md-6 icon-box" data-aos="fade-up">

              <h4>
                <a href="https://spring.io/" target="_blank">Spring <fa-icon [icon]="faLeaf"></fa-icon></a>
              </h4>
              <p>
                API construída utilizando a linguagem de programação Java e
                o ecossistema Spring
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <h4>
                <a href="https://angular.io/" target="_blank">Angular <fa-icon [icon]="faDesktop"></fa-icon></a>
              </h4>
              <p>
                Front-end construído utilizando o Framework Angular
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <h4>
                <a href="https://git-scm.com/" target="_blank">Git <fa-icon [icon]="faCodeBranch"></fa-icon></a>
              </h4>
              <p>
                Versionamento de código com GIT
              </p>
            </div>
            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4>
                <a href="https://www.mysql.com/" target="_blank">SGBD MySQL <fa-icon [icon]="faDatabase"></fa-icon></a>
              </h4>
              <p>
                SGBD utilizado foi o MySQL 5.5
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
</section>
