<app-header></app-header>
<section id="slider">
  <div class="container">
    <div class="row reverse">
      <div class="col-lg-5 col-12 slider-text main-title texto-padrao">
        <h1>Lorem Ipsum</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quas aliquam eligendi provident quo saepe
          deleniti architecto quis non laudantium!</p>
      </div>
      <div class="col-lg-7 col-12 box-img-slider">
        <img class="img-fluid" src="../assets/images/slider-img.png" alt="">
      </div>
    </div>
  </div>
</section>
<section id="projeto">
  <div class="container">
    <div class="row">
      <div class="box-logo col-lg-6 col-12">
        <img class="img-fluid" src="../assets/images/logo-projeto.png" alt="">
      </div>
      <div class="box-projeto col-lg-6 col-12 main-title texto-padrao">
        <h1>Projeto Scholar</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam minima totam earum ratione aliquam dolor
          perferendis, sit qui consectetur, alias neque ullam doloremque impedit unde atque molestiae quidem, tempora
          tempore rerum necessitatibus vitae laboriosam! Numquam dolores voluptates rem atque voluptatibus id?
          Doloremque vero perferendis veritatis? Rem quisquam itaque porro aliquam incidunt culpa dolorem illum ullam?
          Temporibus expedita dolor error eligendi tempora? Ut facere reiciendis veniam numquam sit commodi voluptas
          molestiae harum deleniti, dicta aliquid recusandae tempore quaerat quae vel maxime, in adipisci accusantium et
          fugiat facilis. Sint mollitia repudiandae numquam ipsam similique nemo. Dicta nisi consequatur modi
          perspiciatis, et praesentium animi nulla reiciendis tempora nesciunt quos consequuntur obcaecati voluptate.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="beneficios">
  <div class="container">
    <div class="row">
      <div class="titulo-beneficios col-12 main-title">
        <h1>Benefícios</h1>
      </div>
      <div class="subtitulo-beneficios col-12 main-subtitle">
        <h2>Motivos para usar o Schola ;)</h2>
      </div>
      <ul>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
        <li class="col-md-4 col-sm-6 col-12">
          <div class="box-beneficios nome-beneficios">
            <img class="img-fluid img-beneficios" src="../assets/images/beneficio-veloz.png" alt="">
            <p>Veloz</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="equipe">
  <div class="container">
    <div class="row">
      <div class="equipe-title main-title col-12">
        <h1>Equipe</h1>
      </div>
      <div class="equipe-cards">
        <ul>
          <li class="col-md-4 col-sm-6 col-12">
            <div class="card-box">
              <img class="img-fluid" src="../assets/images/ronaldinho.jpg" alt="">
              <h3>Alex Vianna</h3>
            </div>
          </li>
          <li class="col-md-4 col-sm-6 col-12">
            <div class="card-box">
              <img class="img-fluid" src="../assets/images/ronaldinho.jpg" alt="">
              <h3>Alexandre Ferreira</h3>
            </div>
          </li>
          <li class="col-md-4 col-sm-6 col-12">
            <div class="card-box">
              <img class="img-fluid" src="../assets/images/ronaldinho.jpg" alt="">
              <h3>Átila Romão</h3>
            </div>
          </li>
          <li class="col-md-4 col-sm-6 col-12">
            <div class="card-box">
              <img class="img-fluid" src="../assets/images/ronaldinho.jpg" alt="">
              <h3>Priscila Subtil</h3>
            </div>
          </li>
          <li class="col-md-4 col-sm-6 col-12">
            <div class="card-box">
              <img class="img-fluid" src="../assets/images/ronaldinho.jpg" alt="">
              <h3>Regiane Cristina</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="tecnologias">
  <div class="container">
    <div class="row">
      <div class="tecnologias-title main-title col-12">
        <h1>Tecnologias</h1>
      </div>
    </div>
    <div class="row">
      <div class="tecnologias-box col-6">
        <div class="row main-subtitle">
          <h4 class="col-12">Front-end</h4>
          <ul>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/angular.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="tecnologias-box col-6">
        <div class="row main-subtitle">
          <h4 class="col-12">Back-end</h4>
          <ul>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-12">
              <div class="tecnologia-cards">
                <img class="img-fluid" src="../assets/images/node.png" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
