<div class="limiter">
  <div class="container-login">
    <div class="row wrap-login
            d-flex align-items-center
            justify-content-center">
      <form
        [formGroup]="formGroup"
        (ngSubmit)="registerDirector()"
        class="col-md-5 col-sm-12 login-form validate-form">
        <span class="login-form-title">
          Cadastre uma nova aula
        </span>

        <div class="wrap-input validate-input">
          <input
            class="input"
            type="text"
            formControlName="name"
            placeholder="Nome">
          <span class="focus-input"></span>
          <span class="symbol-input">
            <fa-icon [icon]="faSignature"></fa-icon>
          </span>
        </div>

        <div class="wrap-input validate-input">
          <input
            class="input"
            type="text"
            formControlName="description"
            placeholder="Descrição">
          <span class="focus-input"></span>
          <span class="symbol-input">
            <fa-icon [icon]="faKeyboard"></fa-icon>
          </span>
        </div>

        <div class="wrap-input validate-input">
          <input
            class="input"
            type="input"
            formControlName="link"
            placeholder="Link">
          <span class="focus-input"></span>
          <span class="symbol-input">
            <fa-icon [icon]="faGlobe"></fa-icon>
          </span>
        </div>

        <div class="wrap-input validate-input">
          <select
            formControlName="discipline"
            class="input">

            <option *ngFor="let discipline of disciplines" value="{{discipline.id}}">
              {{discipline.name}}
            </option>
          </select>

          <span class="focus-input"></span>
          <span class="symbol-input">
            <fa-icon [icon]="faAddressCard"></fa-icon>
          </span>
        </div>

        <div class="container-login-form-btn">
          <button type="submit" class="login-form-btn">
            Registrar aula
          </button>
        </div>
      </form>

      <div class="col-md-7 col-sm-0 login-pic" aTilt>
        <img
          #directorPicture
          class="img-fluid align-self-center p-5"
          id="picture"
          src="assets/images/send-file.png">

        <div class="wrap-input validate-input d-flex justify-content-center">

        <p-fileUpload
          mode="basic"
          name="file[]"
          [multiple]="true"
          accept="image/*"
          styleClass="uploadButton"
          maxFileSize="10000000"
          [showCancelButton]="true"
          [showUploadButton]="false"
          [chooseLabel]="'Escolha um arquivo'"
          (onSelect)="onFileChange($event)">>
        </p-fileUpload>
        </div>
      </div>
    </div>
  </div>
  </div>
