<section id="benefits" class="benefits section-bg">
<div class="container">

    <div class="section-title">
      <h2 class="text-center" data-aos="fade-in">Vantagens</h2>
    </div>

    <div class="row d-flex m-5">
      <div
        class="image col-xl-6 d-flex justify-content-center align-content-center"
        data-aos="fade-up">
        <img src="assets/images/benefit-education.png" class="img-fluid image">
      </div>
      <div class="col-xl-6 pl-0 pl-lg-5 pr-lg-1 d-flex">
        <div
          class="content d-flex flex-column justify-content-center"
          data-aos="fade-up">
          <h3>Aprender nunca foi tão rápido</h3>
          <p>
            Estude no conforto da sua casa, de maneira ágil e no seu tempo.
            Fique atento para as atividades propostas pelos professores
            das suas disciplinas, entregando dentro dos prazos propostos.
          </p>
        </div>
      </div>
    </div>

    <div class="row d-flex m-5">
      <div class="col-xl-6 pl-0 pl-lg-5 pr-lg-1 d-flex">
        <div
          class="content d-flex flex-column justify-content-center"
          data-aos="fade-up">
          <h3>Interface fácil e intuitiva</h3>
          <p>
            Você irá amar utilizar o Scholar, graças a uma interface simples e limpa,
            está acessível para todos os públicos.
          </p>
        </div>
      </div>

      <div
        class="image col-xl-6 d-flex justify-content-center align-content-center"
        data-aos="fade-up">
        <img src="assets/images/benefit-love-it.png" class="img-fluid image">
      </div>
    </div>

    <div class="row d-flex m-5">
      <div
        class="image col-xl-6 d-flex justify-content-center align-content-center"
        data-aos="fade-up">

        <img src="assets/images/benefit-feedback.png" class="img-fluid image">
      </div>
      <div class="col-xl-6 pl-0 pl-lg-5 pr-lg-1 d-flex">
        <div
          class="content d-flex flex-column justify-content-center"
          data-aos="fade-in">
          <h3>Feedback dos professores</h3>
          <p>
            Atividades entregues sempre terão feedbacks dos professores, sendo assim
            pontos negativos e pontos positivos estaram em evidência justamente para
            aprendermos com nossos erros e acertos.
          </p>
        </div>
      </div>
    </div>

</div>
</section>
