<header id="navbar" [ngClass]="{ sticky: isSticky }">
  <div class="container">
    <div class="row">
      <div class="logo-menu col-lg-4 col-md-12">
        <a href="index.html">
          <img class="img-fluid" src="../assets/images/logo-topo-r.png" alt="" />
        </a>
      </div>
      <div class="barra-menu col-lg-8 col-12">
        <ul>
          <li><a href="">Projeto</a></li>
          <li><a href="">Benefícios</a></li>
          <li><a href="">Sobre</a></li>
          <li><a href="">Contato</a></li>
          <li><a href="">Começar</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
