/* [Inicio do Default] */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #444444;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/* [Fim do Default] */
