<section>
  <div class="sidebar-menu sticky-sidebar-menu" style="background-color: #222b68;">
    <div class="logo" style="background-color: #222b68;">
      <a href="index.html">
        <img src="assets/images/logo-projeto.png" alt="Your logo" title="Your logo" class="img-fluid" style="height:50px;" />
      </a>
    </div>

    <div class="logo-icon text-center">
      <a href="index.html" title="logo"><img src="assets/images/logo.png" alt="logo-icon"> </a>
    </div>

    <div class="sidebar-menu-inner">
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="index.html">Dashboard</a></li>
        <li><a>Períodos</a></li>
        <li><a>Turmas</a></li>
        <li><a>Alunos</a></li>
        <li><a>Professores</a></li>
      </ul>
    </div>
  </div>

  <app-header></app-header>

  <div class="main-content">
    <div class="container-fluid content-top-gap">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </nav>

      <div class="welcome-msg pt-3 pb-4">
        <h1>Bem vindo</h1>
      </div>

      <div class="statistics">
        <div class="row">
          <div class="col-xl-6 pr-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                  <i class="lnr lnr-users"> </i>
                  <h3 class="text-primary number">350</h3>
                  <p class="stat-text">Total de usuários</p>
                </div>
              </div>
              <div class="col-sm-6 pl-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                  <i class="lnr lnr-eye"> </i>
                  <h3 class="text-secondary number">51</h3>
                  <p class="stat-text">Visitas diárias</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 pl-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                  <i class="lnr lnr-cloud-download"></i>
                  <h3 class="text-success number">182</h3>
                  <p class="stat-text">Lições upadas</p>
                </div>
              </div>
              <div class="col-sm-6 pl-sm-2 statistics-grid">
                <div class="card card_border border-primary-top p-4">
                  <i class="lnr lnr-cloud-check"></i>
                  <h3 class="text-danger number">50</h3>
                  <p class="stat-text">Lições corrigidas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
